doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
        link(rel='stylesheet' href='../css/style.css')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
    body
        div.container-fluid
            div.row-sm
                nav.col.navbar.bg-info
                    a.nav-link(href='/').text-dark Accueil
                    hr
                    p Bienvenue
                    hr
                    a.nav-link(href='/auth/signin').text-dark Sign out

        div.col-md.bg-light
            h1= title
            block content
        footer.container-fluid.mt-3
            p.text-center.bg-info.p-3 &copy; 2025 - My To do List App