extends layout 

block content
    form(action="/new", method="post") 
        input(type="text" name="name" placeholder="List name")
        button.btn.btn-primary(type="submit") Créer une liste
    button.btn.btn-secondary(type="button" onclick="window.history.back()") Retour