extends layout

block content
    form(action='/passwordReset' method='POST')
        label(for='email') Email :
        input(type='email' id='email' name='email' required)
        br
        button(type='submit').btn-success Réinitialiser le mot de passe
    if messageErreur
        p= messageErreur
    a(href='/auth/signin') Se connecter
